<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/profile.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <div class="right">
            <li><a href="index" class="na-item">Home</a></li>
            <li><a href="" class="na-item">tab1</a></li>
            <li><a href="discussion" class="na-item">Discussion</a></li>
            <li><a href="" class="na-item">Notes Database</a></li>
          </div>
          <div class="left">
            <li>
              <a href="takenotes" class="na-item"
                ><i class="bi bi-file-earmark-plus-fill"></i> take note</a
              >
            </li>
            <li><a href="profile" class="na-item">Profile</a></li>
          </div>
        </ul>
      </nav>
    </header>
    <main>
      <section class="hero">
        <div class="container">
          <div class="img-details">
            <h1 id="text">Misu Partha</h1>
            <h4>for sale</h4>
          </div>
          <div class="img-container">
            <img src="/images/AAmishu.jpg" alt="Bhotka chele" />
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
