<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="/css/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/signUp.css" />
    <title>Register</title>
  </head>
  <body>
    <div class="container" style="height: 80vh">
      <div class="title"><h1>Register</h1></div>

      <form action="/api/user/register" method="post" class="form">
        <div class="form-item">
          <label for="name">Name : </label>
          <input type="text" id="name" name="name" />
        </div>

        <div class="form-item">
          <label for="email">email : </label>
          <input type="email" id="email" name="email" />
        </div>

        <div class="form-item">
          <label for="password">Password:</label>
          <div class="inputbox">
            <input
              type="password"
              id="password"
              name="password"
              style="width: 85%"
            />
            <button type="button" id="togglePassword1">
              <i class="bi bi-eye-slash-fill"></i>
            </button>
          </div>
        </div>

        <div class="form-item">
          <label for="confirmPassword">confirm</label>
          <div class="inputbox">
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              style="width: 85%"
            />
            <button type="button" id="togglePassword2">
              <i class="bi bi-eye-slash-fill"></i>
            </button>
          </div>
        </div>
        <button type="submit" class="btn-submit" style="margin-bottom: 40px">
          register
        </button>
      </form>
      <div class="signup-link">
        do not have an account yet ?    <a href="/api/user/log-in">sign up</a>
      </div>
      </div>
      <script>
        const passwordInput = document.getElementById("password");
        const confirmPasswordInput = document.getElementById("confirmPassword");
        const togglePasswordButton1 = document.getElementById("togglePassword1");
        const togglePasswordButton2 = document.getElementById("togglePassword2");

        togglePasswordButton1.addEventListener("click", () => {
          const type = passwordInput.type === "password" ? "text" : "password";
          passwordInput.type = type;
          // Toggle icon class
          togglePasswordButton1.innerHTML =
            type === "password"
              ? '<i class="bi bi-eye-slash-fill"></i>'
              : '<i class="bi bi-eye-fill"></i>';
        });
        togglePasswordButton2.addEventListener("click", () => {
          const type = confirmPasswordInput.type === "password" ? "text" : "password";
          confirmPasswordInput.type = type;
          // Toggle icon class
          togglePasswordButton2.innerHTML =
            type === "password"
              ? '<i class="bi bi-eye-slash-fill"></i>'
              : '<i class="bi bi-eye-fill"></i>';
        });
      </script>
    </div>
  </body>
</html>
