<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/takenotes.css" />
    <link
      rel="stylesheet"
      href="/css/font-awesome-4.7.0/css/font-awesome.min.css"
    />
    <title>The notes APP</title>
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <div class="right">
            <li><a href="index" class="na-item">Home</a></li>
            <li><a href="" class="na-item">tab1</a></li>
            <li><a href="discussion" class="na-item">Discussion</a></li>
            <li><a href="" class="na-item">Notes Database</a></li>
          </div>
          <div class="left">
            <li>
              <a href="takenotes" class="na-item"
                ><i class="bi bi-file-earmark-plus-fill"></i> take note</a
              >
            </li>
            <li><a href="profile" class="na-item">Profile</a></li>
          </div>
        </ul>
      </nav>
    </header>
    <main>
      <div class="container">
        <form
          action="/api/takenotes"
          class="form"
          method="post"
          name="topicform"
        >
          <div class="topic-in">
            <p>Topic <i class="bi bi-lightbulb"></i>:</p>
            <input type="text" id="topic" name="topic" />
          </div>
          <br />

          <label for="desc">Description:</label>
          <div class="desc"><textarea name="des" id="des"></textarea></div>

          <div class="upload">
            <label for="doc" class="doc"
              >Upload PDF <i class="bi bi-file-earmark-pdf"></i>
            </label>
            <input type="file" id="doc" name="pdf" />
          </div>
          <div class="foot-foot">
            <div class="btn">
              <button type="submit" class="wait-btn">
                submit
                <i class="bi bi-cloud-arrow-up"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
    </main>
    <footer></footer>
  </body>
</html>
<!-- <script>
      document
        .getElementById("form")
        .addEventListener("submit", function (event) {
          event.preventDefault(); // Prevent the form from submitting normally

          // Get form data
          const formData = new FormData(this);

          // Send form data to the backend using Axios
          axios
            .post("/api/takenotes", formData)
            .then((response) => {
              window.location.reload();
            })
            .catch((error) => {
              console.error("Error:", error);
              // Handle error if needed
            });
        });
    </script> -->
<!-- 

  

  data = {
    t1:"dkajsalk"
  }


 model ={
  name: type(string)
 }
 -->
