@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  transition: ease-in-out 250ms;
}
body {
  background-color: #e6f4f1a0;
}
ul li {
  text-align: center;
  display: inline-block;
  margin: 0px 5px;
}
ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
#hero .container {
  height: 30vh;
  margin-top: 20px;
  margin-bottom: 40px;
  /* background: linear-gradient(to bottom right, #08a699, #008bbd); */
  background: linear-gradient(to bottom right, #325436, #283618);
}
#hero .container .t-text {
  display: flex;
}
#hero .container .t-text h1 {
  margin-top: 15px;
}
#hero .container .t-text img {
  margin-top: 15px;
}
#hero .container .einstein {
  outline: 5px;
  height: 220px;
  width: 220px;
  margin-left: 90%;
  margin-top: 0%;
}

#text {
  font-size: 5em;
  color: #333;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
main {
  margin-bottom: 10px;
}
main .note-container {
  max-width: 70%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  /* border: 1px solid #ccc; */
  background: linear-gradient(to bottom right, #fbfaf0, #fefae0);
}
main .note-container .title {
  padding: 5px;
}
main .note-container .threads {
  margin-left: 2%;
  max-height: 200px;
  overflow: scroll;
}
main .note-container .threads a {
  color: #333;
  text-decoration: none;
}

main .note-container .comments {
  /* background-color: #e7f0f4; */
  border-radius: 10px;
  padding: 10px;
  max-height: 400px;
  overflow: auto;
}

main .note-container .comment {
  margin: 0px auto;
  margin-top: 10px;
  max-height: 80px;
  max-width: 90%;
  overflow: auto;
  border-left: #283618 1px solid;
  border-bottom: #283618 2px solid;
  background-color: white;
  border-radius: 10px;
}
main .note-container .comment a {
  text-decoration: none;
  color: #555454;
}
main .note-container .comment a:hover,
main .note-container .threads a:hover {
  text-decoration: underline;
}
main .note-container .comment h5 {
  font-weight: 500;
  color: #555454;
  font-size: 18px;
  margin-left: 1%;
}
main .note-container .comment p {
  margin-left: 1%;
  font-weight: 400;
  font-size: 14px;
  color: #686666;
}
main .note-container .judgment {
  width: 80%;
  margin: 0px auto;
  margin-top: 10px;
  max-height: 200px;
  overflow: scroll;
}

main .note-container .judgment form p {
  font-weight: 400;
}
main .note-container .judgment .reactions {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
main .note-container .judgment .reactions .left {
  width: 90%;
  text-align: center;
}
main .note-container .judgment .reactions .right {
  width: 10%;
  display: flex;
  justify-content: center;
}
main .note-container .judgment .reactions #comment {
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  margin-top: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  width: 100%;
}

main .note-container .judgment .reactions textarea {
  font-size: 14px;
  resize: none;
  outline: none;
}
main .note-container .judgment .reactions .circle {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  display: inherit;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  transition: ease-in-out 250ms;
}

main .note-container .judgment .reactions .circle:hover {
  background-color: black;
}
main .note-container .judgment .reactions .circle i:hover {
  color: white;
}
main .note-container .judgment .reactions button {
  font-size: 35px;
  background: none;
  border: none;
}
