@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Raleway", sans-serif;
  transition: ease-in-out 250ms;
}

header nav {
  padding: 20px;
  background-color: aliceblue;
}
header nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}
ul li {
  text-align: center;
  display: inline-block;
  margin: 0px 5px;
}
ul li a {
  text-decoration: none;
  color: black;
  padding: 10px;
}
main .hero .container {
  max-width: 70%;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

main .hero .container .img-details {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .hero .container .img-details h4 {
  font-weight: 500;
}
main .hero .container .img-container {
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

main .container .img-container img {
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.749);
  transition: all 0.3s ease-in-out;
}
.img-container img:hover {
  transform: scale(1.1) translateX(-20px);
}
.img-details:hover {
  transform: scale(1.1);
}
.img-details h1 {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 10px;
}
.img-details h4 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 10px;
}

.publications-container {
  padding: 10px;
  margin: 0px auto;
  margin-top: 30px;
  border: 1px solid;
  border-radius: 10px;
  display: flex;
  justify-content: start;
  background-color: aliceblue;
  width: 80%;
}
.publications-container .container {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  gap: 20px;
}
.publications-container .container .card {
  background-color: white;
  border: 1px solid;
  border-radius: 10px;
  padding: 10px;
  max-width: 300px;
  height: 200px;
  margin: 0px 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.201);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.publications-container .container .card a {
  color: black;
}
.publications-container .container .card h1:hover {
  transform: scale(1.1) translateX(20px);
}
.publications-container .container .card:hover {
  transform: scale(1.1);
}
.publications-container .container .card .description {
  margin-top: 10px;
  height: 40%;
  padding: 5px;
  margin: 5px;
  overflow: hidden;
}
.publications-container .container .card .btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 30%;
  padding: 10px;
  height: max-content;
  bottom: 0px;
}
.publications-container .container .card .btns button {
  background: none;
  border: 1px solid black;
  padding: 6px 16px;
  cursor: pointer;
  border-radius: 10px;
  font-size: 18px;
}
.publications-container .container .card .btns button:nth-child(1) {
  background-color: rgba(255, 255, 0);
  opacity: 0.7;
}
.publications-container .container .card .btns button:nth-child(2) {
  background-color: rgb(235, 24, 24);
  color: white;
  opacity: 0.8;
}
.publications-container .container .card .btns button:nth-child(2):hover {
  opacity: 1;
}
.publications-container .container .card .btns button:nth-child(1):hover {
  opacity: 1;
}
