<header>
  <nav>
    <ul>
      <div class="right">
        <li><a href="/api/home" class="na-item">Home</a></li>
      </div>
      <div class="left">
        <li>
          <a href="/api/notes/new-note" class="na-item"
            ><i class="bi bi-file-earmark-plus-fill"></i> take note</a
          >
        </li>
        <li><a href="/api/user/" class="na-item">Profile</a></li>
        <li><a href="/api/user/log-out" class="na-item">log out</a></li>
      </div>
    </ul>
  </nav>
</header>
